<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <link href="/static/css/Site.css" rel="stylesheet" type='text/css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">Chating Content
                        <span class="glyphicon glyphicon-user pull-right"> Hi ！{{.Name}}</span>
                        <span id="name" style="display: none;">{{.Name}}</span>
                        <span id="uuid" style="display: none;">{{.UID}}</span>
                    </div>
                    <div id="messageBox" class="panel-body">
                        <ul id="messageList"></ul>
                    </div>
                </div>
                <div id="bar">
                    <div class="col-sm-4">
                        <select id="box" class="form-control">
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" id="message" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input type="button" id="send" value="Sent">
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">Online User</div>
                    <div class="panel-body">
                        <div id="chatList">
                            <p> 上線清單 </p>
                            <ul id="list"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <label>© 2021 - 喔吼 copyright by jacob</label>
        </footer>
    </div>
    <script src="/static/js/modernizr-2.8.3.js"></script>
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script>
        var socket = null;
        $(function () {
            let wsuri = window.location.host + '/ws';
            socket = new WebSocket('ws://' + wsuri + "?clientId=" + $('#uuid').text());
            socket.onopen = function (e) {
                //let data = GetData(0);
                //socket.send(data)
            }

            socket.onmessage = function (e) {
                console.log(e);
                // let data = JSON.parse(e.data);
                // let userBox = $("#box");
                // let msgBox = $("#messageList");
                // let list = $("#list");
                // switch (data.msg.type) {
                //     case 0:
                //         userBox.empty();
                //         list.empty();
                //         userBox.append("<option value='all'> 所有人 </option>");
                //         $.each(data.user_list, function (index, value) {
                //             userBox.append("<option value='" + value + "'>" + index + "</option>");
                //             list.append("<li>" + index + "</li>");
                //         });
                //         msgBox.append("<li>" + data.msg.content + "</li>");
                //         msgBox.scrollTop = msgBox.scrollHeight;
                //         break;
                //     default:
                //         msgBox.append("<li>" + data.msg.content + "</li>");
                //         msgBox.scrollTop = msgBox.scrollHeight;
                //         break;
                // }
            }

            socket.onclose = function (e) {
                // let data = GetData(1);
                // socket.send(data)
            }

            $('#message').keypress(function (e) {
                let data = GetData(2);
                let key = e.which;
                if (key == 13) {
                    socket.send(data);
                    $("#message").val('').focus();
                }
            });

            $("#send").click(function () {
                let data = GetData(2);
                socket.send(data);
                $("#message").val('').focus();
            });
        })

        // default type 2
        function GetData(type) {
            let m = $("#message");
            return JSON.stringify({
                client_id: $('#uuid').text(),
                usr_name: $('#name').text(),
                msg: {
                    type: type,
                    content: m.val(),
                    to_id: $('#box').val()
                }
            });
        }
    </script>
</body>

</html>